<body>
    <header>
      <div class="heading">
        <h1 class="title">声楽家のための<br>PianistSearch</h1>
    </div>
     <div class="navbar">
       <ul class="nav-lists">
       <% if user_signed_in? %>
       <li class="menu"><%= link_to current_user.name, class:"login-name" %></li>
       <li class="menu"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"logout" %></li>
       <li class="menu"><%= link_to '伴奏者登録',   new_pianist_path, class:"sign-pianist" %></li>
       <%else%>
       <li class="menu"><%= link_to 'ログイン', new_user_session_path, class:"login" %> </li>
       <li class="menu"><%= link_to '新規登録', new_user_registration_path, class:"sign-up" %></li>
       <li class="menu"><%= link_to '伴奏者登録', new_pianist_path, class:"sign-pianist" %></li>
       <% end %>
       </ul>
     </div>      
    </header>

    <div class= "black-bar"></div>

    <!-- サイト説明 -->
    <div class= "description">
      <div class="explanation">
      <p class="explanation-top">伴奏者探しに困っていませんか<br>オンラインで伴奏者を見つけましょう</p>
      </div>
      <div class="image-diagram">
        <img src="/assets/pianogirl.jpg" alt="pianist" class="top-image ">
      </div>
    </div>

    <!-- 伴奏者一覧-->
    <div class="search-form">
    <%= form_with url: search_pianists_path, local: true, method: :get, class: "search-form" do |form|%>
    <%= form.text_field :keyword, placeholder: "活動地域から検索", class: "search-input" %>
         <%= form.submit "検索", class: "search-btn" %>
         <% end %>
    </div>
    <div class= "pianist-contents">
         <p class="subtitle">検索結果</p>
        <ul class='piano-lists'>
        <% @pianists.each do |pianist| %>
        <li class="list">
        <%= link_to pianist_path(pianist.id), method: :get do %>
        <div class='pianist-img-content'>
         <%= image_tag pianist.image.variant(resize:'200x200') if pianist.image.attached?%>
        </div>
       <div class='pianist-info'>
            <h3 class='pianist-name'>
            <%= pianist.user.name %>
            </h3>
         <div class="pianist-area">
           <%= pianist.area%>
         </div>
      </div>
      <% end %>
      </li>
      <% end %>
      </ul>   
      <%= link_to('伴奏者一覧に戻る', pianists_path, class:"back-top")%>   
    </div>
  
    
      
      
      

    <footer>
      <p class="copy-right">Copyright(C) PianistSearch ALL RIGHTS RESERVED.</p>
    </footer>
  </body>