
  
<div class="pianist-show">
    <div class="pianist-box">
    <h3 class="pianist-name">
     <%= @pianist.user.name %>
    </h3>
  <div class='item-img-content'>
    <%= image_tag @pianist.image.variant(resize:'200x200'), class:"item-box-img" %>
  </div>
  </div>

  <table class="detail-table">
    <tbody>
      <tr>
        <th class="detail-item">学歴</th>
        <td class="detail-value">
        <%= @pianist.school %>
        </td>
      </tr>
      <tr>
        <th class="detail-item">レパートリー</th>
        <td class="detail-value">
          <%= @pianist.repert %>
        </td>
      </tr>
      <tr>
        <th class="detail-item">活動地域</th>
        <td class="detail-value">
        <%= @pianist.area %>
        </td>
      </tr>
      <tr>
        <th class="detail-item">伴奏依頼金</th>
        <td class="detail-value">
        <%= @pianist.money %>
        </td>
      </tr>
      <tr>
        <th class="detail-item">動画URL</th>
        <td class="detail-value">
        <%= @pianist.video %>
        </td>
      </tr>
      <tr>
        <th class="detail-item">伴奏者からメッセージ</th>
        <td class="detail-value">
        <%= @pianist.message %>
        </td>
      </tr>
    </tbody>
  </table>

  <%# if @pianist.pianist_user.blank? %>
   <% if user_signed_in? && current_user.id == @pianist.user_id %>
   <%= link_to '伴奏者情報の編集', edit_pianist_path, method: :get, class: "pianist-black-btn" %>
  <%#edit_item_path(@item.id)#%>
  <p class='or-text'>or</p>
  <%= link_to '削除', pianist_path(@pianist.id), method: :delete, class:'pianist-destroy' %>
  <%# item_path(@item.id)#%>
    <% else %>
    <div class="dm-button">
  <input type="submit" value="DMを送る" class="dm">
  </div>
  <% end %>
  <%# end %>

  <div class="container">
    <h4 class="comment-name">評価、お礼メッセージを送る</h4>
    <textarea placeholder="コメントする" class="large-field"></textarea>
    <input type="submit" value="送信" class="send">
    <!--% if current_user %-->
      <!--%= form_with(model: [@tweet, @comment], local: true) do |form| %-->
        <!--%= form.text_area :text, placeholder: "コメントする", rows: "2" %-->
        <!--%= form.submit "SEND" %-->
      <!--% end %-->
    <!--% else %-->
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <!--% end %-->
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <!--% if @comments %-->
        <!--% @comments.each do |comment| %-->
          <p>
            <strong>田中花子<!--%= link_to comment.user.nickname, "/users/#{comment.user_id}" %--></strong>
            <!--%= comment.text %-->ありがとうございます
          </p>
        <!--% end %-->
      <!--% end %-->
    </div>
  </div>
  <%= link_to 'トップページに戻る', pianists_path, class:"top-pianist" %>
  

</div>


    


  
